<style>
    body {
  background-color: lightblue;
} 
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Robin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    </div>
    <div class="navbar-nav right">
        <a class="nav-item nav-link" href="logout">Logout</a>
    </div>
</nav>
<div class="row">
    <div class="col-3">
        <div class="card" style="height: 18rem;">
            <div class="card-body">
                <p><button type="button" class="btn btn-primary clockin">Clock In</button></p>
                <p><button type="button" class="btn btn-primary clockout">Clock Out</button></p>
                <p><button type="button" class="btn btn-success sale" data-toggle="modal"
                        data-target="#sale">Create a Sale</button></p>
                <p><button type="button" class="btn btn-danger sendalert" data-toggle="modal"
                        data-target="#sendalert">Send an Alert</button></p>
            </div>
        </div>
    </div>
    
        <div class="col-3">
        <div class="card" style="height: 18rem;">
            <div class="card-body">
            <p><h3>Hours: 18</h3></p>
            <br>
          <p><h3>Sales: 5</h3></p>
           <br>
        <p><h3>Goals: 2/4</h3></p>

        </div>
        </div>
        </div>

<div class="col-6">
           <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <div id="map"></div>
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.
      var map, infoWindow;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 6
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3q7ui7Eca-3JrT_FaO8mq2N6Ur0rdyXQ&callback=initMap">
    </script>
    </div>
  <script type='text/javascript' src='https://darksky.net/widget/graph-bar/28.5421,-81.379/us12/en.js?width=100%&height=400&title=Full Forecast&textColor=333333&bgColor=FFFFFF&transparency=false&skyColor=undefined&fontFamily=Default&customFont=&units=us&timeColor=333333&tempColor=333333&currentDetailsOption=true'></script>



   
<!-- Modal for sending an alert -->
<div class="modal fade" id="sendalert" tabindex="-1" role="dialog" aria-labelledby="sendalert" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Send an Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="Name" class="form-control" id="Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Urgency</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Low</option>
                            <option>Medium</option>
                            <option>Critical</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="alertnote">Note</label>
                        <textarea class="form-control" id="alertnote" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="submitalert" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
{{!-- modal for making a sale --}}
<div class="modal fade" id="sale" tabindex="-1" role="dialog" aria-labelledby="sale" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Send an Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form> 
                    <div class="form-group">
                        <label for="clientname">Client Name</label>
                        <input type="clientname" class="form-control" id="clientname">
                    </div>
                    <div class="form-group">
                        <label for="productid">Product ID</label>
                        <input type="productid" class="form-control" id="productid">
                    </div>
                    <div class="form-group">
                        <label for="salenote">Note</label>
                        <textarea class="form-control" id="salenote" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="submitalert" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="col-3">
            <h1><!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5758713.js"></script>
<!-- End of HubSpot Embed Code --></h1>
        </div>