<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Robin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="features">Dashboard</a>
            <a class="nav-item nav-link  active" href="products">Products</a>
            <a class="nav-item nav-link" href="employees">Employees</a>
            <a class="nav-item nav-link" href="salesstats">SalesStats</a>
        </div>
    </div>
    <div class="navbar-nav right">
        <a class="nav-item nav-link" href="logout">Logout</a>
    </div>
</nav>
<div class="row">
    <div class="col-4">
        <div class="card">
      <div class="card-body">
        <p><button type="button" class="btn btn-success">Clock In</button></p>
        <p><button type="button" class="btn btn-danger">Clock Out</button></p>
        <p><button type="button" class="btn btn-danger">Send an Alert</button></p>
      </div>
    </div>
    </div>
    <div class="col-4">
      <div class="card-body">
          hours
      </div>
      <div class="card-body">
          sales
      </div>
    </div>
    <div class="col-4">
        chat
    </div>
</div>
