<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <a class="navbar-brand" href="#">Robin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="features">Features <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact">Contact</a>
            </li>
        </ul>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="#">1-800-867-5309</a>
            </li>
        </ul>
    </div>
</nav>
<div id="features-card">
    <div class="card mb-3">
        <img src="images/door-to-door.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">What is Robin?</h5>
            <p class="card-text">Robin is a multitiered business solution for the busy manager tracking a salesperson in
                the field. It provides a manager overview of salesforce, products, clients and inventory. Robin
                geolocates field agents to assure they are on the job and provides weather updates for the manager to
                assure better project planning for businesses that are weather dependent. </p>
            <p>Call us today at 1-800-867-5309 to discuss business solutions and we will provide pricing that aligns
                with your business needs today. </p>
            <p class="card-text"><small class="text-muted"></small></p>
        </div>
    </div>
</div>