{{!-- Navbar with links--}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="dash">Robin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="dash">Dashboard</a>
            <a class="nav-item nav-link" href="products">Products</a>
            <a class="nav-item nav-link" href="contractors">Employees</a>
            <a class="nav-item nav-link active" href="salesstats">SalesStats</a>
        </div>
    </div>
    <div class="navbar-nav right">
        <a class="nav-item nav-link" href="logout">Logout</a>
    </div>
</nav>
<div class="row">
    <div class="col-10">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sale ID</th>
                    <th scope="col">Client ID</th>
                    <th scope="col">Product ID</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody id="salesbody">
            </tbody>
        </table>
    </div>
    <div class="col-2">
        <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addorder">Add Order</button></p>
        <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editorder">Edit Order</button></p>
        <p><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteorder">Remove Order</button></p>
    </div>
</div>

<div class="modal fade" id="addorder" tabindex="-1" role="dialog" aria-labelledby="addorder" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create a new Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="clientid">Client ID</label>
                        <input type="productid" class="form-control" id="clientid">
                    </div>
                    <div class="form-group">
                        <label for="productid">Product ID</label>
                        <input type="productid" class="form-control" id="productid">
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="productid" class="form-control" id="quantity">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="submitaddorder" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editorder" tabindex="-1" role="dialog" aria-labelledby="addorder" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit an Existing Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="saleid">Sale ID</label>
                        <input type="productid" class="form-control" id="saleid">
                    </div>
                    <div class="form-group">
                        <label for="clientid">Client ID</label>
                        <input type="productid" class="form-control" id="clientid">
                    </div>
                    <div class="form-group">
                        <label for="productid">Product ID</label>
                        <input type="productid" class="form-control" id="productid">
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="productid" class="form-control" id="quantity">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="submiteditorder" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteorder" tabindex="-1" role="dialog" aria-labelledby="deleteorder" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Send an Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="saleid">Sale ID</label>
                        <input type="number" class="form-control" id="saleid">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="submitremoveorder" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script>
    var ran = false;
$(document).ready(function() {
    if(!ran){
        $.ajax("/api/Sales", {
            type: "GET",
            }).then(function(resp) {
                console.log(resp)
                ran = true;
                for(i=0; i<resp.length; i++){
                    var tr = "<tr>";
                    tr += '<th scope="row">' + resp[i].Id + '</th>';
                    tr += '<td>' + resp[i].clientId + '</td>';
                    tr += '<td>' + resp[i].productId + '</td>';
                    tr += '<td>' + resp[i].quantity + '</td>';
                    tr += '<td>' + resp[i].createdAt + '</td>';
                    tr += "</tr>"
                    $("#productstable").append(tr)
                }
            });
    }
});
</script>