{{!-- Navbar with links--}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Robin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="dash">Dashboard</a>
            <a class="nav-item nav-link" href="products">Products</a>
            <a class="nav-item nav-link" href="contractors">Employees</a>
            <a class="nav-item nav-link" href="salesstats">SalesStats</a>
        </div>
    </div>
    <div class="navbar-nav right">
        <a class="nav-item nav-link" href="logout">Logout</a>
    </div>
</nav>

{{!-- manager view separated in rows/column with card for each section --}}
{{!-- Visual of layout
    --------------------------------{MAIN ROW}-----------------------------------
    |------------------------------------|                         |            |
    |                                    |                         |            |
    |                                    |                         |   Chat     |
    |         row with main card         |                         |            |
    |                                    |                         |            |
    |                                    |                         |            |
    |------------------------------------|         MAP             |            |
    |------------------------------------|                         |            |
    |                                    |                         |            |
    |                                    |                         |------------|
    |        row with weather card       |                         |            |
    |                                    |                         |    alerts  |
    |                                    |                         |            |
    |------------------------------------|                         |            |
    -----------------------------------------------------------------------------
 --}}
    <div class="row">
        <div class="col-6"  >
            <div class="row" style="padding: 20px 5px 10px 5px;">
                <div class="col-12">
                    <div class="card" style="width: 100%">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 10px 5px 20px 5px;">
                <div class="col-12">
                    <div class="card" style="width: 100%">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
            <div id="map"></div>
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.
      var map, infoWindow;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 6
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3q7ui7Eca-3JrT_FaO8mq2N6Ur0rdyXQ&callback=initMap">
    </script>
        </div>

        <div class="col-2">
            <h1>chat</h1>
        </div>
    </div>
