{{!-- Navbar with links--}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="dash">Robin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="dash">Dashboard</a>
      <a class="nav-item nav-link active" href="products">Products</a>
      <a class="nav-item nav-link" href="contractors">Employees</a>
      <a class="nav-item nav-link" href="salesstats">SalesStats</a>
    </div>
  </div>
  <div class="navbar-nav right">
    <a class="nav-item nav-link" href="logout">Logout</a>
  </div>
</nav>
<div class="row">
  <div class="col-10">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Product Name</th>
          <th scope="col">Stock Quantity</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody id="productstable">
      </tbody>
    </table>
  </div>
  <div class="col-2">
    <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addproduct">Add Product</button></p>
    <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addstock">Add Stock</button></p>
    <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editproduct">Edit Product</button></p>
    <p><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteproduct">Delete Product</button></p>
  </div>
</div>
<div class="modal fade" id="addproduct" tabindex="-1" role="dialog" aria-labelledby="addproduct" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Send an Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="productname">Product Name</label>
                        <input type="clientname" class="form-control" id="productname">
                    </div>
                    <div class="form-group">
                        <label for="productdesc">Product Description</label>
                        <textarea class="form-control" id="productdesc" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="productquantity">Stock Quantity</label>
                        <input type="number" class="form-control" id="productquantity">
                    </div>
                    <div class="form-group">
                        <label for="productprice">Price</label>
                        <input type="number" class="form-control" id="productprice">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="submitaddproduct" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addstock" tabindex="-1" role="dialog" aria-labelledby="addstock" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Send an Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="productid">Product ID</label>
                        <input type="clientname" class="form-control" id="productid">
                    </div>
                    <div class="form-group">
                        <label for="stockquantity">How much stock do you want to add?</label>
                        <input type="number" class="form-control" id="stockquantity">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="submitaddstock" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editproduct" tabindex="-1" role="dialog" aria-labelledby="editproduct" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Send an Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="productid">Product ID</label>
                        <input type="clientname" class="form-control" id="productidupdate">
                    </div>
                    <div class="form-group">
                        <label for="productname">Product Name</label>
                        <input type="clientname" class="form-control" id="productnameupdate">
                    </div>
                    <div class="form-group">
                        <label for="productdesc">Product Description</label>
                        <textarea class="form-control" id="productdescupdate" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="productquantity">Stock Quantity</label>
                        <input type="number" class="form-control" id="productquantityupdate">
                    </div>
                    <div class="form-group">
                        <label for="productprice">Price</label>
                        <input type="number" class="form-control" id="productpriceupdate">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="submitupdateproduct" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteproduct" tabindex="-1" role="dialog" aria-labelledby="deleteproduct" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Send an Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="productid">Order ID</label>
                        <input class="form-control" id="productidelete" value="">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="submitdeleteproduct" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>