{{!-- Navbar with links--}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="dash">Robin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="dash">Dashboard</a>
            <a class="nav-item nav-link" href="products">Products</a>
            <a class="nav-item nav-link  active" href="contractors">Employees</a>
            <a class="nav-item nav-link" href="salesstats">SalesStats</a>
        </div>
    </div>
    <div class="navbar-nav right">
        <a class="nav-item nav-link" href="logout">Logout</a>
    </div>
</nav>
<div class="row">
  <div class="col-10">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Contractor Name</th>
          <th scope="col">Email</th>
          <th scope="col">Total Sales</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>contractor Name</td>
          <td>email@email.com</td>
          <td>$3500</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>contractor Name</td>
          <td>email@email.com</td>
          <td>$4500</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>contractor Name</td>
          <td>email@email.com</td>
          <td>$2500</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-2">
    <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addcontractor">Add Contractor</button></p>
    <p><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removecontractor">Remove Contractor</button></p>
  </div>
</div>
<div class="modal fade" id="addcontractor" tabindex="-1" role="dialog" aria-labelledby="addcontractor" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Send an Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="contractorname">Contractor Name</label>
                        <input type="contractorname" class="form-control" id="contractorname">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="submitalert" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="removecontractor" tabindex="-1" role="dialog" aria-labelledby="removecontractor" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Send an Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="contractorid">Contractor ID</label>
                        <input type="contractorid" class="form-control" id="contractorid">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="submitalert" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
