{{!-- Navbar with links--}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Robin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="features">Dashboard</a>
      <a class="nav-item nav-link active" href="products">Products</a>
      <a class="nav-item nav-link" href="employees">Employees</a>
      <a class="nav-item nav-link" href="salesstats">SalesStats</a>
    </div>
  </div>
  <div class="navbar-nav right">
    <a class="nav-item nav-link" href="logout">Logout</a>
  </div>
</nav>
<div class="row">
  <div class="col-10">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Product Name</th>
          <th scope="col">Stock Quantity</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>1</td>
          <td>Product Name</td>
          <td>25</td>
          <td>$36</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>2</td>
          <td>Product Name</td>
          <td>13</td>
          <td>$12</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>3</td>
          <td>Product Name</td>
          <td>15</td>
          <td>$18</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-2">
    <p><button type="button" class="btn btn-primary">Add Product</button></p>
    <p><button type="button" class="btn btn-primary">Add Stock</button></p>
    <p><button type="button" class="btn btn-primary">Edit Product</button></p>
    <p><button type="button" class="btn btn-primary">Delete Product</button></p>
  </div>
</div>